{% extends "base.html" %}
<!--<head>-->
  {% block title %}Media >--> Yokine Archery{% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="container">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="centerwrapper" style="padding: 10px 0;">
          <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
        </div>
        <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
        <h2>Yokine Archery in the media </h2>
        <p>
          <strong>11 June 2014</strong><br>
          www.inmycommunity.com.au/news-and-views/local-sport/Smooth-trajectory-to-success/7661112/
        </p>
        <p>
          <strong>15 April 2014</strong><br>
          www.communitynews.com.au/publicpdf/archive/2014/D_April/15.04.14/SG20140415_BEL_002-051.pdf
        </p>
        <p>
          <strong>22 June 2013</strong><br>
          www.theaustralian.com.au/news/nation/tv-heroes-give-young-hunger-for-archery/story-e6frg6nf-1226667818130<br>
          or begaarchers.com.au/
        </p>
        <p>
          <strong>2 February 2013</strong><br>
          www.communitynews.com.au/publicpdf/archive/2013/B_February/05.02.13/GE20130205_GUA_006-039.pdf
        </p>
        <p>
          <strong>30 October 2012</strong><br>
          www.tcdc.govt.nz/Your-Council/News-and-Media/News-and-Public-Notices/News-Archived-Articles/October-2012/Major-Archery-Tournament-in-Mercury-Bay/
        </p>
        <p>
          <strong>27 July 2012</strong><br>
          www.abc.net.au/local/stories/2012/07/27/3555320.htm
        </p>
        <p>
          <strong>27 March 2012</strong><br>
          en.wikinews.org/wiki/Australian_archer_Alice_Ingley_readies_for_potential_Olympic_spot
        </p>
        <p>
          <strong>3 January 2012</strong><br>
          www.theaustralian.com.au/sport/australian-archers-dominate-oceania-qualifying-tournament/story-e6frgdg6-1226235110670<br>
          www.theage.com.au/sport/archers-bang-on-target-20120102-1picx.html
        </p>
        <p>
          <strong>30 September 2011</strong><br>
          au.news.yahoo.com/thewest/sport/a/10373250/aiming-for-a-bullseye-at-london-olympics/
        </p>
        <p>
          <strong>26 September 2011</strong><br>
          london2012.olympics.com.au/news/ingley-targeting-london-riches-aoc-feature
        </p>
        <p>
          <strong>29 June 2010</strong><br>
          stirling.inmycommunity.com.au/news-and-views/local-news/Sports-stars-time-to-shine/7560634/
        </p>
        {% endblock %}
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
