{% extends "base.html" %}
<!--<head>-->
  {% block title %}News >--> Yokine Archery{% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="container">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="centerwrapper" style="padding: 10px 0;">
          <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
        </div>
        <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
        <h2>News</h2>
        <p>
          <strong>15 March 2015 - Benara Matchplay</strong><br>
          Ten members of Yokine Archery Club competed in the Benara Matchplay,
          which was run as a round-robin event, with only two divisions - recurve
          and compound - and archers shooting distances appropriate for their ages.
          Congratulations to Alice Ingley, who won the silver medal and Tom Wray,
          who came fourth, in the recurve division and to Courtney Cowling, who
          came fourth in the compound division.
        </p>
        <p>
          <strong>6-8 March 2015 - 2015 Australian Open</strong><br>
          Alice and Callum Ingley travelled to Hobart for the 2015 Australian Open.
          Congratulations to Alice for winning the bronze medal.
        </p>
        <p>
          <strong>7 December 2014 - KGSA Junior Shoot 2014</strong><br>
          Congratulations to the Yokine Archery Club Junior Team, which won one gold,
          two silver and a bronze medal at the KGSA Junior Shoot.
        </p>
        <p>
          <strong>2 November 2014 - Fletchings Tournament</strong><br>
          Yokine Archery Club hosted its first tournament, the Fletchings Tournament
          at Whiteman Park. Congratulations to our three newest cubs who won gold,
          silver and bronze medals in the Recurve Cub Female with less than 6 month's
          experience division.
        </p>
        <p>
          <strong>September-October 2014 - Trans Tasman Championships, Brisbane</strong><br>
          Congratulations to Nick Rowe, Scott Jefferies and Emma Nolan, members of
          the Archery Australia Archery Team, who competed against New Zealand at
          Mt Petrie in Brisbane. Australia won the trophy with 5230 to New Zealand's
          5068 and Nick, Emma and Scott brought home 3 gold, 2 silver and 2 bronze medals.
        </p>
        <p>
          <strong>April 2014 - National Youth Championships, Adelaide</strong><br>
          Five Yokine archers competed in the State Youth Team, and  one independent
          acompanied the team to Adelaide. Yokine archers won 7 medals in the target,
          field, clout and matchplay events. Due to their target results and qualifying
          scores, Nick Rowe, Scott Jefferies and Emma Nolan qualified for selection
          for the 2014 Trans Tasman Competition to be held in Brisbane in September.
        </p>
        <p>
          <strong>March 2014 - Yokine dominates at Australian Open!</strong><br>
          Alice Ingley: Gold (Women's Open Matchplay)
          Callum Ingley: Bronze (Men's Open Matchplay)
        </p>
        <p>
          <strong>February 2014 - Strength and Conditioning</strong><br>
          Yokine commences weekly classes provided pro bono by sports strength
          and conditioning specialist Holly Shawcross (Holly Shawcross Strength
          and Conditioning).
          See http://www.inspirationalbodies.com/index.php?option=com_content&view=article&id=418&Itemid=448
        </p>
        <p>
          <strong>January 2014 - Malaysian Sports Academy training</strong>
          On Australia Day, Yokine Youth returned from 2 weeks training camp with Malaysian Sports Academy. Under instruction of Coach Othman and the MSA Team, this special event is the latest in an ever growing, strong relationship with Malaysia for which we feel extremely grateful.
        </p>
        <p>
          <strong>January 2014 - Yokine - New Zealand Championships</strong><br>
          Alice Ingley: Gold (Women's Open Matchplay)
          Recurve Team: Silver (Alice Ingley, Callum Ingley, Tom Wray)
        </p>
        <p>
          <strong>Sept 2013 - Head Coach Mohamed Fadzil, wins Silver Community Service Award</strong><br>
          Mohamed was recognised for outstanding leadership to sport and recreation at the City of Stirling Community Service Awards. Mohamed provides voluntary effort of 15 hours or more each week in developing youth archers towards excellence. (see 'Gallery')
        </p>
        <p>
          <strong>Sept 2013</strong><br>
          Yokine wins 10 medals at State Target Championships (see 'results')
        </p>
        <p>
          <strong>July 2013 - Yokine excels at State and National Indoor Championships</strong><br>
          10 members registered and 9 won medals.
        </p>
        <p>
          <strong>July 2013 - Yokine props up State team for National Youth Championships</strong><br>
          Yokine comprised 5 of the twelve archers in the team, and won 17 of the 26 medals gained by state members. Alice Ingley (recurve) broke two national records along the way and confirmed her selection for the 2014 World Youth Championships, as did Courtney Cowling (compound)
        </p>
        <p>
          <strong>January 2013 - Yokine dominates at New Zealand Championships!</strong><br>
          Tomas Wray: Gold (Men's Open Matchplay)
          Alice Ingley: Silver (Women's Open Matchplay)
          Callum Ingley: Bronze (Men's Open Matchplay)
        </p>
        <p>
          <strong>April 2012</strong><br>
          Tomas Wray: 2x bronze at Trans-Tasman youth championships.
        </p>
        <p>
          --------------------------------------------------------------------------------------
        </p>
        <p>
          <strong>2012 Alice Ingley shoots qualifing scores for Olympic Shadow Team</strong>
        </p>
        {% endblock %}
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
