<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="All your your archery information from Yokine Archery">
  <meta name="author" content="Callum Ingley">
  <title>{% block title %}{% endblock %}</title>
  <!-- Style sheets -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"><!--Base sheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}"><!--Bootstrap-->
  <!-- Javascript -->
  <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script><!--jQuery-->
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script><!--Bootstrap-->
  <script>
    $(document).ready(function () {
      $('nav>ul>li').removeClass('active');
      $('nav>ul>li a').each(function() {
        if ($(this).attr('name') == location.href.split("/").slice(-1)){ $(this).addClass('current_page'); }
      });
    });
  </script>
  {% block javascript %}
  {% endblock %}
</head>
<body>
  <div id="page-wrap">
    <div id="heading">
      <h1><a class="link-no-decoration" href="{{url_for('index')}}">Yokine Archery Club</a></h1>
      <nav>
        <ul>
          <li><a name="news" href="{{url_for('news')}}">News</a></li>
          <li><a name="shooting" href="">Shooting</a></li>
          <li><a name="calendar" href="">Calendar</a></li>
          <li><a name="media" href="{{url_for('media')}}">Media</a></li>
          <li><a name="location" href="{{url_for('location')}}">Location</a></li>
          <li><a name="contact" href="{{url_for('contact')}}">About/Contact</a></li>
        </ul>
      </nav>
      <svg id="yokine-stripe" width="180" height="80">
        <line x1="30" y1="95" x2="120" y2="-15" style="stroke:rgb(255,255,255);stroke-width:30;" />
        <line x1="68" y1="95" x2="158" y2="-15" style="stroke:rgb(255,0,0);stroke-width:30;" />
        Sorry, your browser does not support inline SVG.
      </svg>
    </div>
    <div id="container">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <footer class="site-footer">
    <ul>
      <li>&copy;Yokine Archery Club</li>
      <li>Website made by Callum Ingley</li>
    </ul>
  </footer>
</body>
</html>
