{% extends "base.html" %}
<!--<head>-->
  {% block title %}Yokine Archery >>-->{% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="row">
        <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
          <div class="col l8 offset-l2">
              <h3>Beginner's classes</h3>
              <h4>Stages of Learning</h4>
              <p>
                While some of you will initially be looking to see if archery
                suits you, others will want to progress their skills to a
                certain level, while others will be committed to excellence.
                There are 4 different stages to help you along the way:
              </p>
              <div class="row" style="margin: 30px 0 0 0">
                <div class="col l5" style="padding-left: 0">
                  <div class="row">
                    <div class="stage card-panel col">
                      <span>
                        <h5>STAGE 1:</h5>
                        <b>Come&Try</b>
                      </span>
                      <p>
                        If you have not tried archery & just want a try, contact Rob
                        (via the Contact page) to arrange a Come-&-Try lesson 9am on
                        Sundays ($20).
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="stage card-panel col">
                      <span>
                        <h5>STAGE 2:</h5>
                        <b>Beginner's course</b>
                      </span>
                      <p>
                        The Saturday 5-week beginner course ($100) covers the basics
                        and ends with a target competition.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col l7">
                  <div class="centerwrapper">
                    <img alt="Coaching course" src="{{url_for('static', filename='DSC-0192.JPG')}}"
                      style="height: auto; width: 100%; max-width: 620px;">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="stage card-panel col l12">
                  <span>
                    <h5>STAGE 3:</h5>
                    <b>Advanced course</b>
                  </span>
                  <p>
                    For those who are hooked after the Beginner Course and wish to
                    make archery their sport of choice, we offer a 5-week Advanced
                    Course ($100) which concentrates on form and using stabilisers,
                    and ends with a matchplay competition. During this course we
                    help the archer with equipment selection prior to club
                    membership.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="stage card-panel col l12">
                  <span>
                    <h5>STAGE 4:</h5>
                    <b>Membership</b>
                  </span>
                  <p>
                    Once you have your own equipment, you will need to apply for
                    membership. As memberships are limited, due to target butt
                    availability, please read the following below which is part
                    of Yokine Archery’s policy.
                  </p>
                </div>
              </div>
              <p>
                <strong>
                  Policy Statement: Membership to Yokine Archery is by formal
                  application, and is not guaranteed.
                </strong>
              </p>
              <p>
                <strong><i>IMPORTANT: </i></strong>
                Please ensure you wear enclosed shoes and bring water to drink.
                Close fitting clothing should be worn on the upper body to avoid
                bow string contact.
              </p>
              <p>
                Some facts to help you in considering and preparing your
                application:
              </p>
              <ul id="fact-prep">
                <li>
                  <strong>Minimum age: 10 years old</strong>
                </li>
                <li>
                  Yokine is a small club, limited in our available space, butts,
                  coaching and volunteer support.
                </li>
                <li>
                  We are a professional club, focusing our resources on those
                  archers who want to succeed in competition.
                </li>
                <li>
                  Priority is to archers who have the desire to compete and
                  applicants should request an Athlete Induction Manual and sign
                  the declaration at rear. Under 18s will need to have their
                  parents sign.
                </li>
                <li>
                  Most members apply after completing the Advanced course.
                  External applicants will need to show proof of AA membership
                  and also demonstrate their form to the coach.
                </li>
                <li>
                  Members are expected to purchase their own equipment within 6
                  weeks of joining. Club coaches will assist.
                </li>
                <li>
                  We are predominantly a recurve club, as we unfortunately do
                  not have coaches in Compound and only a few suitable 'Danage'
                  targets. Compound archers will need to demonstrate they are
                  fully trained and capable, demonstrated by assessment of one
                  of our existing Compound members and a club coach.
                </li>
                <li>
                  ALL members or their parents will be expected to support the
                  club by assisting in set-up and put-away; volunteering for
                  jobs; and participating in busy-bees when held. Discussing
                  your skills and availability with the Volunteer Coordinator
                  will assist your application.
                </li>
                <li>
                  Our overall capacity is 50 archers. There is some flexibility
                  to this limit depending on the 'member mix' of each of the
                  weekend days.
                </li>
                <li>
                  Weekends are often very busy, and it cannot be guaranteed you
                  will be able to shoot the distance you wish. We run beginners
                  courses on Saturdays, and 'Come n try' on Sundays, each taking
                  up 4 or more targets.
                </li>
                <li>
                  We do not organise club competitions. Our focus is on 'form'
                  and preparation for state, national and international
                  competitions.
                </li>
                <li>
                  We shoot four times a week. However, mid week is only
                  available for competitive archers.
                </li>
                <li>
                  Shooting fees are $5 per week, only when you shoot.
                </li>
                <li>
                  We only charge $1 annual membership in addition the Archery
                  Australia & Archery WA annual fees! This is because we prefer
                  our members to instead spend their money on quality equipment
                  and competition costs.
                </li>
              </ul>
          </div>
        </div>
        {% endblock %}
      <!--</div>-->
  <!--</div>-->
<!--</body>-->
