{% extends "base.html" %}
<!--<head>-->
  {% block title %}Location >--> Yokine Archery{% endblock %}
  {% block javascript %}
  <script>
    $(document).ready( function() {
      $('select').material_select(); /* Initialise Select fields */

      $("select[name='about']").change(function() {
        var value = $(this).val();
        if(value == 1) {
          $("#form-size").addClass("hide");
          $("#form-age").addClass("hide");
          $("#form-help").addClass("hide");
          $("info-label").text("Inquiry");
        } else {
          $("#form-size").removeClass("hide");
          $("#form-age").removeClass("hide");
          $("#form-help").removeClass("hide");
          $("#form-label-info").text("Additional Information");
        }
      })
    });
  </script>
  {% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="content">-->
      {% block content %}
        <div class="row">
          <div class="col l8 offset-l2">
            <div class="centerwrapper" style="padding: 10px 0;">
              <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
            </div>
            <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
            <h2>About us</h2>
            <p>
              For nearly 40 years, Yokine Archery has provided a safe, fun and
              relaxing environment for people of all ages to enjoy the wonderful sport of archery.
            </p>
            <br>
            <p>
              Over the past decade, the focus of the club has shifted to developing
              youth archers as the next generation of state, national and world champions.
            </p>
            <br>
            <p>
              While we continue to support social members, our training focus will
              be on young archers (10-25) or adults who want to actively compete.
              As the program takes only its first steps, Yokine Archery members already
              comprise over 50% of the state youth team (recurve) and the club boasts
              two each of both male and female recurve archers in Australia’s top ten.
              Not bad for under 25s and one of Australia’s smallest clubs!
            </p>
            <br>
            <p>
              Our club is unique in providing regular, high level training and
              coaching. We have regular guest speakers in fields such as sport
              physiotherapy, sport psychology, biomechanics, and nutrition. We conduct
              not only coaching sessions, but physical fitness training and we organise
              high level training and friendly competitions with our Asian partners.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col l4 m12 offset-l2">
            <h2>Contact</h2>
            <p>
              You can contact us through our
              <a href="https://www.facebook.com/YokineArcheryClub/">facebook page</a>.
              Just click on the link or search for Yokine Archery Club. Don't forget
              to click the <strong style="display: inline">like</strong> button.
            </p>
            <p>
              You can also contact us via the following form:
            </p>

            <form id="contact-form" name="contact" method="POST" action="">
              <div class="row">
                <div class="input-field col s12">
                  <select name="about">
                    <option value="1" selected>General Enquiry</option>
                    <option value="2">Come&Try</option>
                    <option value="3">Beginner's course</option>
                  </select>
                  <label>Contacting about:</label>
                </div>
              </div>
              <div class="row">
                  <h4 name="form-name">Contact Details</h4>
              </div>
              <div class="row">
                <div class="input-field">
                  <input type="text" name="form-first-name">
                  <label for="form-first-name">First Name:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input type="text" name="form-last-name">
                  <label for="form-last-name">Last Name:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <input type="email" name="form-email" class="validate">
                  <label for="form-email">Email Address:</label>
                </div>
              </div>
              <div id="form-size" class="row hide">
                <div class="input-field">
                  <select name="size" class="select-align">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6+</option>
                  </select>
                  <label for="size">Number of people:</label>
                </div>
              </div>
              <div id="form-age" class="row hide">
                <div class="input-field" style="float: right;padding-right: 10px">
                  <input type="checkbox" id="age" value="yes">
                  <label for="age">Is everyone above 10 years of age?</label>
                </div>
              </div>
              <div class="row">
                <h4 id="form-label-info">Enquiry Details</h4>
              </div>
              <div id="form-help" class="row hide">
                <div class="input-field">
                  <p>
                    This includes previous shooting experience and personal archery
                    equipment, disabilities, as well as any other details you feel
                    might be helpful for us to know.
                  </p>
                </div>
              </div>
              <div class="row">
                <textarea id="info" name="info" class="materialize-textarea"
                placeholder="Enter details here"></textarea>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
              </div>
            </form>

            <p>
              Or by using the email and post details below:
            </p>

            <table>
              <tr>
                <td><strong>Email:</strong></td>
                <td>yokinearcheryclub@gmail.com</td>
              </tr>
              <tr>
                <td><strong>Post:</strong></td>
                <td>11 Alexander Drive</td>
              </tr>
              <tr>
                <td></td>
                <td>Menora, 6050, Perth WA</td>
              </tr>
            </table>
          </div>
          <div class="col l4">
            <h2>History</h2>
            <p>
              Yokine Archery Club was formed on the 29th June 1975 from a meeting
              at the Yokine Primary School.  An informal training group had previously
              existed and Syd Alman suggested a club be formed.  Syd Alman was the
              first President, Judy Pearson was the first Secretary, Moira Missen
              the First Treasurer and Maurice Alman the first Field Captain.
            </p>
            <br>
            <p>
              It has moved location several times. In the beginning the club had
              a storage shed close to where the primary School buildings are now
              and shot South to North, then the premises were extended with a government
              grant to allow for the purchase of a tin garage. This was moved short
              distances a number of times and finally located on the south west side
              of the primary school where a concrete pad was laid and the shed
              enlarged to provide club rooms.
            </p>
            <br>
            <p>
              In 1979 the Nationals were held on a reserve in Yokine and practice
              was carried out at Yokine Club grounds.
            </p>
            <br>
            <p>
              For a brief period after the International Shooting Complex was built,
              Yokine moved there to support the cost of the complex. This was less
              than satisfactory for club members so it was then returned to the
              Yokine Primary School.
            </p>
            <br>
            <p>
              In the early 1990's the Club house was moved closer to the west side
              of the school oval when the block of land (owned by the school) on
              which it was located was intended to be sold. This did not eventuate
              but the club house had already been moved. The club is now situated
              in the middle of well grassed grounds with native trees, banksias and
              tuarts surrounding it.  Electricity was connected at about this time.
            </p>
          </div>
        </div>
        {% endblock %}
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
