{% extends "base.html" %}
<!--<head>-->
  {% block title %}Gallery >--> Yokine Archery{% endblock %}
  {% block javascript %}
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/lightgallery.css')}}">
  <script src="{{url_for('static', filename='js/lightgallery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lg-thumbnail.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/lg-fullscreen.min.js')}}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#recent").lightGallery();
    });
  </script>
  {% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="container">-->
      <!--<div id="content">-->
        {% block content %}
        <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
        <div class="row">
          <div class="col offset-l2 l9">
            <h2>Gallery</h2>
            <h5>Recent Photos</h5>
            <div id="recent">
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_intro.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_intro_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_1.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_1_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_coach.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_coach_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_2.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_2_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_3.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_3_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_wr_32_alice_intro.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_wr_32_alice_intro_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_flag_alice_taylor.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_flag_alice_taylor_tn.jpg')}}">
              </a>
              <a href="{{url_for('static', filename='gallery/rio2016/rio_yokine_support.jpg')}}">
                <img class="responsive-img" alt="" src="{{url_for('static', filename='gallery/rio2016/tn/rio_yokine_support_tn.jpg')}}">
              </a>
            </div>
            <h5>Club Photos</h5>
            <div id="club"></div>
            <h5>Competitions</h5>
            <div id="comp"></div>
          </div>
        </div>
        {% endblock %}
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
