{% extends "base.html" %}
<!--<head>-->
  {% block title %}Yokine Archery >>-->{% endblock %}
  {% block javascript%}
  <script>
    function windowSizeIndex() {
      if( $( window ).width() < 1218) {
        $( '#news' ).addClass('hide');
        $( '.main > h2' ).addClass('news-hide');
        $( '.main > p' ).addClass('news-hide');
      } else {
        $( '#news' ).removeClass('hide');
        $( '.main > h2' ).removeClass('news-hide');
        $( '.main > p' ).removeClass('news-hide');
      }
    }

    $( document ).ready(function() {
        windowSizeIndex();
    });

    $( window ).resize( function() {
        windowSizeIndex();
    });
  </script>
  {% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="row">
          <div class="col l2 space"></div>
          <div id="welcome" class="col l6">
            <h3 id="welcome">Welcome to Yokine Archery Club Inc.</h3>
            <div class="centerwrapper" style="max-width: 750px">
              <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
            </div>
            <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
            <p>
              Archery is officially Australia's fastest growing sport, and we at
              Yokine Archery take great pride in our competition achievements!
            </p>
            <p>
              Yokine Archery is located on the grounds of Yokine Primary School,
              39 Woodrow Ave, Yokine, Western Australia.
            </p>
            <p>
              We offer weekly 'Come &amp; Try' events (Sundays) and regular Beginners
              and Advanced courses for those who would like to learn more.
            </p>
            <p class="reminder">
              Special information regarding Come and Try sessions will be posted here.
            </p>
            <p>
              We specialise in recurve archery development and give membership
              preference to competitive archers who want to excel (see membership
              policy under Documents and Forms).
            </p>
            <p>
              If you're interested in archery, we'd be interested in hearing from you!
            </p>
            <img
              alt="Yokine archers on the line"
              src="{{url_for('static', filename='P1000156-800px.jpg')}}"
              style="height: auto; width: 100%; max-height: 335px; max-width: 750px; margin-top: 30px; margin-left: -2%;" />
          </div>
          <div class="col l4 space"></div>
        </div>
        <div id="news"class="card-panel blue-grey lighten-5 z-depth-2">
            <div class="card-content">
                <h2 class="card-title grey-text text-darken-3">Latest News</h2>
                <p>News items will appear here</p>
            </div>
        </div>
        {% endblock %}
      <!--</div>-->
  <!--</div>-->
<!--</body>-->
