{% extends "base.html" %}
<!--<head>-->
  {% block title %}Members >>-->Yokine Archery{% endblock %}
  {% block javascript%}
  <script>
    function windowSizeIndex() {
    }

    $( document ).ready(function() {
        windowSizeIndex();
    });

    $( window ).resize( function() {
        windowSizeIndex();
    });
  </script>
  {% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="row">
          <div class="col offset-l3 l6">
            <h3>Members</h3>
            <div id="login">
              {% from "security/_macros.html" import render_field_with_errors, render_field %}
	          {% include "security/_messages.html" %}
	          <h3>Login</h3>
	          <form action="{{ url_for('.index') }}" method="POST" name="login_user_form">
	            {{ login_user_form.hidden_tag() }}
	            <div class="row">
	              <div id="login-form" class="col offset-l2 l8">
	            {{ render_field_with_errors(login_user_form.email, class="form-control") }}
	            {{ render_field_with_errors(login_user_form.password, class="form-control") }}
	            {{ render_field_with_errors(login_user_form.remember) }}
	            {{ render_field(login_user_form.next) }}
	                <button id="submit" class="btn waves-effect waves-light" type="submit" name="submit" value="Login">Login
                      <i class="material-icons right">send</i>
                    </button>
	              </div>
	            </div>
	          </form>
	          {% include "security/_menu.html" %}
            </div>
            <p>This page is reserved for members use only.</p>
            <br>
            <p>
              I am hoping to implement a diary like feature for each archer to
              log in and write down their scores, sights and other notes to help
              keep track of each archers progress.
            </p>
          </div>
        </div>
        {% endblock %}
      <!--</div>-->
  <!--</div>-->
<!--</body>-->
