{% extends "base.html" %}
<!--<head>-->
  {% block title %}News >--> Yokine Archery{% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="container">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="row">
          <div class="col l12 m12 s12">
            <div class="centerwrapper" style="padding: 10px 0;">
              <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
            </div>
            <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
          </div>
        </div>
        <div class="row">
          <div class="col l1 s1 space"></div>
          <div id="news-cards" class="col s12 m10 l5">
            <h3>News</h3>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">15 March 2015 - Benara Matchplay</strong><br>
                Ten members of Yokine Archery Club competed in the Benara Matchplay,
                which was run as a round-robin event, with only two divisions - recurve
                and compound - and archers shooting distances appropriate for their ages.
                Congratulations to Alice Ingley, who won the silver medal and Tom Wray,
                who came fourth, in the recurve division and to Courtney Cowling, who
                came fourth in the compound division.
              </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">6-8 March 2015 - 2015 Australian Open</strong><br>
                Alice and Callum Ingley travelled to Hobart for the 2015 Australian Open.
                Congratulations to Alice for winning the bronze medal.
              </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">7 December 2014 - KGSA Junior Shoot 2014</strong><br>
                Congratulations to the Yokine Archery Club Junior Team, which won one gold,
                two silver and a bronze medal at the KGSA Junior Shoot.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">2 November 2014 - Fletchings Tournament</strong><br>
                Yokine Archery Club hosted its first tournament, the Fletchings Tournament
                at Whiteman Park. Congratulations to our three newest cubs who won gold,
                silver and bronze medals in the Recurve Cub Female with less than 6 month's
                experience division.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">September-October 2014 - Trans Tasman Championships, Brisbane</strong><br>
                Congratulations to Nick Rowe, Scott Jefferies and Emma Nolan, members of
                the Archery Australia Archery Team, who competed against New Zealand at
                Mt Petrie in Brisbane. Australia won the trophy with 5230 to New Zealand's
                5068 and Nick, Emma and Scott brought home 3 gold, 2 silver and 2 bronze medals.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">April 2014 - National Youth Championships, Adelaide</strong><br>
                Five Yokine archers competed in the State Youth Team, and  one independent
                acompanied the team to Adelaide. Yokine archers won 7 medals in the target,
                field, clout and matchplay events. Due to their target results and qualifying
                scores, Nick Rowe, Scott Jefferies and Emma Nolan qualified for selection
                for the 2014 Trans Tasman Competition to be held in Brisbane in September.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">March 2014 - Yokine dominates at Australian Open!</strong><br>
                Alice Ingley: Gold (Women's Open Matchplay)
                Callum Ingley: Bronze (Men's Open Matchplay)
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">February 2014 - Strength and Conditioning</strong><br>
                Yokine commences weekly classes provided pro bono by sports strength
                and conditioning specialist Holly Shawcross (Holly Shawcross Strength
                and Conditioning).
                See http://www.inspirationalbodies.com/index.php?option=com_content&view=article&id=418&Itemid=448
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">January 2014 - Malaysian Sports Academy training</strong><br>
                On Australia Day, Yokine Youth returned from 2 weeks training camp with Malaysian
                Sports Academy.Under instruction of Coach Othman and the MSA Team, this special
                event is the latest in an ever growing, strong relationship with Malaysia for
                which we feel extremely grateful.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">January 2014 - Yokine - New Zealand Championships</strong><br>
                Alice Ingley: Gold (Women's Open Matchplay)
                Recurve Team: Silver (Alice Ingley, Callum Ingley, Tom Wray)
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">Sept 2013 - Head Coach Mohamed Fadzil, wins Silver Community Service Award</strong><br>
                Mohamed was recognised for outstanding leadership to sport and recreation at
                the City of Stirling Community Service Awards. Mohamed provides voluntary effort
                of 15 hours or more each week in developing youth archers towards excellence. (see 'Gallery')
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">Sept 2013</strong><br>
                Yokine wins 10 medals at State Target Championships (see 'results')
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">July 2013 - Yokine excels at State and National Indoor Championships</strong><br>
                10 members registered and 9 won medals.
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">July 2013 - Yokine props up State team for National Youth Championships</strong><br>
                Yokine comprised 5 of the twelve archers in the team, and won 17 of the 26
                medals gained by state members. Alice Ingley (recurve) broke two national
                records along the way and confirmed her selection for the 2014 World Youth
                Championships, as did Courtney Cowling (compound)
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">January 2013 - Yokine dominates at New Zealand Championships!</strong><br>
                Tomas Wray: Gold (Men's Open Matchplay)
                Alice Ingley: Silver (Women's Open Matchplay)
                Callum Ingley: Bronze (Men's Open Matchplay)
            </p>
            </div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">April 2012</strong><br>
                Tomas Wray: 2x bronze at Trans-Tasman youth championships.
            </p>
            </div>
            <div class="divider" style="height: 3px;margin: 30px 0"></div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">2012 Alice Ingley shoots qualifing scores for Olympic Shadow Team</strong>
            </p>
            </div>
            </div>
            <div id="media" class="col l5 m10 s12">
              <h3>Yokine Archery in the media </h3>
              <div class="card-panel grey lighten-3">
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                        The following article has since been taken down
                    </span><br>
                    <strong>11 June 2014</strong><br>
                    Smooth trajectory to success<br>
                    <a href="www.inmycommunity.com.au/news-and-views/local-sport/Smooth-trajectory-to-success/7661112/">
                        www.inmycommunity.com.au/news-and-views/local-sport/Smooth-trajectory-to-success/7661112/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>15 April 2014</strong><br>
                    Community news<br>
                    <a href="www.communitynews.com.au/publicpdf/archive/2014/D_April/15.04.14/SG20140415_BEL_002-051.pdf">
                        www.communitynews.com.au/publicpdf/archive/2014/D_April/15.04.14/SG20140415_BEL_002-051.pdf</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>22 June 2013</strong><br>
                    The Australian<br>
                    <a href="www.theaustralian.com.au/news/nation/tv-heroes-give-young-hunger-for-archery/story-e6frg6nf-
                    1226667818130">
                      www.theaustralian.com.au/news/nation/tv-heroes-give-young-hunger-for-archery/story-e6frg6nf-1226667818130</a><br>
                      or <a href="begaarchers.com.au">begaarchers.com.au/</a>
                    </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>2 February 2013</strong><br>
                    Community News<br>
                    <a href="www.communitynews.com.au/publicpdf/archive/2013/B_February/05.02.13/GE20130205_GUA_006-039.pdf">
                    www.communitynews.com.au/publicpdf/archive/2013/B_February/05.02.13/GE20130205_GUA_006-039.pdf</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>30 October 2012</strong><br>
                    Major Archery Tournament in Mercury Bar<br>
                    <a href="www.tcdc.govt.nz/Your-Council/News-and-Media/News-and-Public-Notices/News-Archived-Articles/October-2012/Major-Archery-Tournament-in-Mercury-Bay/">
                    www.tcdc.govt.nz/Your-Council/News-and-Media/News-and-Public-Notices/
                    News-Archived-Articles/October-2012/Major-Archery-Tournament-in-Mercury-Bay/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>27 July 2012</strong><br>
                    Shooting to the top: Olympic archer Taylor Worth<br>
                    <a href="www.abc.net.au/local/stories/2012/07/27/3555320.htm">
                      www.abc.net.au/local/stories/2012/07/27/3555320.htm</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>27 March 2012</strong><br>
                    Australian archer Alice Ingley readies for potential Olympic spot<br>
                    <a href="https://en.wikinews.org/wiki/Australian_archer_Alice_Ingley_readies_for_potential_Olympic_spot">
                      https://en.wikinews.org/wiki/Australian_archer_Alice_Ingley_readies_for_potential_Olympic_spot</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>3 January 2012</strong><br>
                    Australian archers dominate Oceania qualifying tournament<br>
                    <a href="www.theaustralian.com.au/sport/australian-archers-dominate-oceania-qualifying-tournament/story-e6frgdg6-1226235110670">
                      www.theaustralian.com.au/sport/australian-archers-dominate-oceania-qualifying-tournament/story-e6frgdg6-1226235110670</a><br><br>
                    Archers bang on target<br>
                    <a href="www.theage.com.au/sport/archers-bang-on-target-20120102-1picx.html">
                      www.theage.com.au/sport/archers-bang-on-target-20120102-1picx.html</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>30 September 2011</strong><br>
                    Aiming for a bullseye at London Olympics<br>
                    <a href="https://au.news.yahoo.com/thewest/sport/a/10373250/aiming-for-a-bullseye-at-london-olympics/">
                      au.news.yahoo.com/thewest/sport/a/10373250/aiming-for-a-bullseye-at-london-olympics/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>26 September 2011</strong><br>
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <a href="london2012.olympics.com.au/news/ingley-targeting-london-riches-aoc-feature">
                      london2012.olympics.com.au/news/ingley-targeting-london-riches-aoc-feature</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>29 June 2010</strong><br>
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <a href="stirling.inmycommunity.com.au/news-and-views/local-news/Sports-stars-time-to-shine/7560634/">
                      stirling.inmycommunity.com.au/news-and-views/local-news/Sports-stars-time-to-shine/7560634/</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col l1 s1 space"></div>
        </div>
        {% endblock %}
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
