{% extends "base.html" %}
<!--<head>-->
  {% block title %}News >--> Yokine Archery{% endblock %}
<!--</head>-->
<!--<body>-->
  <!--<div id="page">-->
    <!--<div id="container">-->
      <!--<div id="content">-->
        {% block content %}
        <div class="row">
          <div class="col l12 m12 s12">
            <div class="centerwrapper" style="padding: 10px 0;">
              <img alt="Yokine Archery Club logo" src="{{url_for('static', filename='YACnew.jpg')}}"/>
            </div>
            <p class="reminder">Website is currently in development, shouldn't be too much longer!</p>
          </div>
        </div>
        <div class="row">
          <div class="col l1 s1 space"></div>
          <!--<div id="news-cards" class="col s12 m10 l5">
            <h3>News</h3>
            {% for article in news %}
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">{{ article.date}} - {{ article.title }}</strong><br>
                {{ article.content }}
              </p>
            </div>
            {% endfor %}-->
            <div class="divider" style="height: 3px;margin: 30px 0"></div>
            <div class="card">
              <p class="card-content">
                <strong class="card-title black-text">2012 Alice Ingley shoots qualifing scores for Olympic Shadow Team</strong>
            </p>
            </div>
            </div>
            <div id="media" class="col l5 m10 s12">
              <h3>Yokine Archery in the media </h3>
              <div class="card-panel grey lighten-3">
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                        The following article has since been taken down
                    </span><br>
                    <strong>11 June 2014</strong><br>
                    Smooth trajectory to success<br>
                    <a href="www.inmycommunity.com.au/news-and-views/local-sport/Smooth-trajectory-to-success/7661112/">
                        www.inmycommunity.com.au/news-and-views/local-sport/Smooth-trajectory-to-success/7661112/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>15 April 2014</strong><br>
                    Community news<br>
                    <a href="www.communitynews.com.au/publicpdf/archive/2014/D_April/15.04.14/SG20140415_BEL_002-051.pdf">
                        www.communitynews.com.au/publicpdf/archive/2014/D_April/15.04.14/SG20140415_BEL_002-051.pdf</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>22 June 2013</strong><br>
                    The Australian<br>
                    <a href="www.theaustralian.com.au/news/nation/tv-heroes-give-young-hunger-for-archery/story-e6frg6nf-
                    1226667818130">
                      www.theaustralian.com.au/news/nation/tv-heroes-give-young-hunger-for-archery/story-e6frg6nf-1226667818130</a><br>
                      or <a href="begaarchers.com.au">begaarchers.com.au/</a>
                    </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <strong>2 February 2013</strong><br>
                    Community News<br>
                    <a href="www.communitynews.com.au/publicpdf/archive/2013/B_February/05.02.13/GE20130205_GUA_006-039.pdf">
                    www.communitynews.com.au/publicpdf/archive/2013/B_February/05.02.13/GE20130205_GUA_006-039.pdf</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>30 October 2012</strong><br>
                    Major Archery Tournament in Mercury Bar<br>
                    <a href="www.tcdc.govt.nz/Your-Council/News-and-Media/News-and-Public-Notices/News-Archived-Articles/October-2012/Major-Archery-Tournament-in-Mercury-Bay/">
                    www.tcdc.govt.nz/Your-Council/News-and-Media/News-and-Public-Notices/
                    News-Archived-Articles/October-2012/Major-Archery-Tournament-in-Mercury-Bay/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>27 July 2012</strong><br>
                    Shooting to the top: Olympic archer Taylor Worth<br>
                    <a href="www.abc.net.au/local/stories/2012/07/27/3555320.htm">
                      www.abc.net.au/local/stories/2012/07/27/3555320.htm</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>27 March 2012</strong><br>
                    Australian archer Alice Ingley readies for potential Olympic spot<br>
                    <a href="https://en.wikinews.org/wiki/Australian_archer_Alice_Ingley_readies_for_potential_Olympic_spot">
                      https://en.wikinews.org/wiki/Australian_archer_Alice_Ingley_readies_for_potential_Olympic_spot</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>3 January 2012</strong><br>
                    Australian archers dominate Oceania qualifying tournament<br>
                    <a href="www.theaustralian.com.au/sport/australian-archers-dominate-oceania-qualifying-tournament/story-e6frgdg6-1226235110670">
                      www.theaustralian.com.au/sport/australian-archers-dominate-oceania-qualifying-tournament/story-e6frgdg6-1226235110670</a><br><br>
                    Archers bang on target<br>
                    <a href="www.theage.com.au/sport/archers-bang-on-target-20120102-1picx.html">
                      www.theage.com.au/sport/archers-bang-on-target-20120102-1picx.html</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>30 September 2011</strong><br>
                    Aiming for a bullseye at London Olympics<br>
                    <a href="https://au.news.yahoo.com/thewest/sport/a/10373250/aiming-for-a-bullseye-at-london-olympics/">
                      au.news.yahoo.com/thewest/sport/a/10373250/aiming-for-a-bullseye-at-london-olympics/</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>26 September 2011</strong><br>
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <a href="london2012.olympics.com.au/news/ingley-targeting-london-riches-aoc-feature">
                      london2012.olympics.com.au/news/ingley-targeting-london-riches-aoc-feature</a>
                  </p>
                </div>
                <div class="card">
                  <p class="card-content">
                    <strong>29 June 2010</strong><br>
                    <span class="reminder">
                      The following article has since been taken down
                    </span><br>
                    <a href="stirling.inmycommunity.com.au/news-and-views/local-news/Sports-stars-time-to-shine/7560634/">
                      stirling.inmycommunity.com.au/news-and-views/local-news/Sports-stars-time-to-shine/7560634/</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col l1 s1 space"></div>
        </div>
        {% endblock %}
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</body>-->
